.androidadditon{
	border-left: 4px solid green;
	padding: 0 0 0 10px;
	margin-bottom: 5px;
}
.androidadditon:after{
	padding-top: 10px;
	content: "Inserted by Android Additions";
	font-style: italic;
}
.androidadditon pre{
	max-height: 400px;
	overflow: auto;
}
